<h1>First File</h1>

<% console.log("This won't be rendered by XEJS") %>

Some plain text

{{ log logging from first fil'e console.lo<%"" }}

{{ test prueba;prueba2}}


## File1 end

{{ bold prueba %>console.l{}=-"·$%&/()og("Prueba");}}

{{include test2.ejs}}
{{include test2.ejs}}
